:root {
  --max-width: 1100px;
  --border-radius: 20px;

  --tint: #EBF4F8;
  --accent: #0880AE;
  --warning: #F2AC57;
  --success: #14A38B;
  --error: #FF7171;
  --primary: #2C2738;
  --secondary: #756F86;
  --muted: #7C9CBF;
  --bright: #FFFFFF;
  --shade: #DBE2EA;

  --regular: 400;
  --semi-bold: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-ibm);
  font-size: 16px;
}

body {
  color: var(--primary);
  background-color: var(--tint);
}

a {
  color: inherit;
  text-decoration: none;
}
